b{
  font-family: helvetica;
  background-color: #E6F3FA;
}

h1{
  text-align: center;
}

h2{
  color: #737368;
}

a{
  color: #737368;
  background-color: #EDF7F7;
  border: 3px solid pink;
}

table, th , td{
  border: 2px solid green;

}

img{
  width: 100px;
}

form{
  background-color: #D2FBCF;
}

#tutorialPage{
  border: 4px solid green;
}

.smIcon {
  width: 40px;
}

.backgroudcolor{
  background-color: blue;
}
