a:visited{
  background-color: pink;
}

a:active{
  background-color: black;
}

a:link{
  background-color: yellow;
  text-decoration: none;
  padding: 30px;
  position: relative;
  left: 40px;
  top: 40px;

}

a:hover{
  background-color: green;
  text-decoration: underline;
}
