img{
  width: 30%;
  filter: grayscale(100%);

}

img:hover{
  filter: grayscale(0%);
}

h1{
  text-align: center;
  border: 9px solid #701C2B;
  color: #470E18;
  border-radius: 10px;
}

.welcom{
  text-align: center;
  font-family: sans-serif;
  background-color: #E6BEC6;
  padding-top: 5px;
  padding-bottom: 20px;
}

.title > p {
  float: left;
  padding-left: 100px;
  padding-right: 100px;

}

.title{
  position: relative;
  left: 30px;
  display: none;

}
.painting:hover .title{
  display: block;
}

.painting{
  margin: 30px;
border: 3px solid #701C2B;
}

.copyright{
  position: relative;
  bottom: 5px;
  background-color: yellow;
  width: 250px;
}
.shop{
  background-color: #701C2B;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
#desc{
  background-color: #701C2B;
  color: #E6BEC6;
  position: relative;
  top: 100px;
  left: 25px;
  height: 100px;
  width: 200px;
}

#descText{
  padding-top: 30px;
}

body{
  background-color: #E08D9D;
}
